*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-bg: #121212;
  --color-sb: black;
  --color-hover: #282828;
  --color-link: white;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--color-sb);
  color: rgba(255, 255, 255, 0.925);
  font-family: sans-serif;
}

a {
  color: var(--color-link);
}

.btn {
  display: inline-block;
  background: transparent;
  text-decoration: none;
  padding: .7em 2.2em;
  border: 1px solid white;
  border-radius: .2em;
}

.btn:hover {
  background-color: var(--color-hover);
}

.welcome {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome__heading {
  font-size: 13rem;
  text-align: center;
}

.welcome__subheading {
  font-size: 2rem;
}

.welcome__login {
  font-size: 1.5rem;
  padding: .3em 5em;
  margin-top: 2em;
}

.ui-wrap {
  margin-top: 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 250px 8fr;
      grid-template-columns: 250px 8fr;
      grid-template-areas: "header header" "sidebar main";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 1em;
  background-color: var(--color-sb);
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 5em;
}

.header__img {
  width: 3em;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.header__img img {
  border-radius: 100%;
  width: 100%;
  height: auto;
  padding: .2em;
}

.header__img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.header__name {
  font-size: .8rem;
}

.sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid var(--color-bg);
  border-left: none;
  border-bottom: none;
  padding: 1em 0 1em 1em;
  background-color: var(--color-sb);
  -webkit-box-shadow: -6px 20px 100px #22222277;
          box-shadow: -6px 20px 100px #22222277;
}

.sidebar__btn {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.616);
  text-align: left;
  padding: 1rem 0;
  cursor: pointer;
}

.sidebar__btn:hover {
  color: white;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  padding: 1em;
  background-color: var(--color-bg);
}

.song-list__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1em 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1em 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 1em;
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

.song-list__item:hover {
  background-color: var(--color-hover);
}

.song-list__info {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #121212d3;
  padding: 1em 1em;
  width: 100%;
  color: rgba(255, 255, 255, 0.651);
  border-bottom: 1px solid var(--color-hover);
  margin-bottom: 1em;
}

.song-list__info:hover {
  background-color: #121212d3;
  cursor: initial;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.song-list__heading:nth-child(1) {
  text-align: right;
}

.song-list__index {
  text-align: right;
  color: rgba(255, 255, 255, 0.651);
}

.song-list__img img {
  display: block;
  height: auto;
}

.song-list__btn {
  background: none;
  border: none;
  width: 3em;
  height: 3em;
  margin: 0 auto;
}

.song-list__btn:hover span {
  background-color: white;
}

.song-list__btn-span {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 2em;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.575);
  pointer-events: none;
}

.song-list__btn-span:hover {
  background-color: white;
}

.song-list__btn-span::before, .song-list__btn-span::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: inherit;
}

.song-list__btn-span::before {
  -webkit-transform: translateY(0.5em);
          transform: translateY(0.5em);
}

.song-list__btn-span::after {
  -webkit-transform: translateY(-0.5em);
          transform: translateY(-0.5em);
}
/*# sourceMappingURL=index.css.map */